h1 {
    font-weight: bold;
    font-size: 32px;
    color: aqua;
}

table {
    width: 500px;
    height: 200px;
    border: 1px solid black;
    margin: 0 auto;
}

th {
    height: 20px;
    border: 1px solid red;
    text-align: center;
}

td {
    text-align: center;
    border: 1px solid red;
}