<!DOCTYPE html>
<html>
    <head>
        <title>Fine Dust Project</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet" />
        <link href="{{url_for('static',filename='css/data.css')}}" rel="stylesheet" />
        <link href="{{url_for('static',filename='css/font-awesome.min.css')}}" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    </head>

    <body class="subpage">
        {% block body %}

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo"><strong>Fine Dust</strong> Project</a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="/process">Process</a>
                        <a href="/data">Data</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>
            
            <section class="data_page">
                <div class="inner">
					<header>
						<h1>Fine Dust Project</h1>
					</header>
                    <div class="flex ">
						<form class="data" action="data_result" method="post">
                            <input type="file" name="csvfile" value="" style="cursor: pointer;">
                            <input type="submit" name="" value="submit">
                        </form>
					</div>
                </div>
            </section>
        {% endblock %}
</html>