<!DOCTYPE html>
<html>
    <head>
        <title>Fine Dust Project</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet" />
        <link href="{{url_for('static',filename='css/process.css')}}" rel="stylesheet" />
        <link href="{{url_for('static',filename='css/font-awesome.min.css')}}" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    </head>

    <body class="subpage">
    
    {% block body %}
    <!-- Header -->
        <header id="header">
            <div class="inner">
                <a href="/" class="logo"><strong>Fine Dust</strong> Project</a>
                <nav id="nav">
                    <a href="/">Home</a>
                    <a href="/process">Process</a>
                    <a href="/graph">Graph</a>
                    <a href="/reference">Reference</a>
                    <!-- <a href="/data">Data</a>
                    <a href="/predict">Predict</a> -->
                </nav>
                <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
            </div>
        </header>
        <!-- <section id="banner">
            <div class="inner">
                <header>
                    <h1>Fine Dust Project</h1>
                </header>
            </div>
        </section> -->
        <ul class="bxslider" style="margin-top: 10px;">
            <li><img src="{{ url_for('static', filename='images/source_1.png') }}" style="margin: 0 auto;"></li>
            <li><img src="{{ url_for('static', filename='images/source_2.png') }}" style="margin: 0 auto; margin-top: 100px;"></li>
            <li><img src="{{ url_for('static', filename='images/source_3.png') }}" style="margin: 0 auto; margin-top: 100px;"></li>
        </ul>
        
        <!-- <ul class="bxslider" style="margin-top: 10px;">
            <li><img src="{{ url_for('static', filename='images/source_1.png') }}" style="margin: 0 auto;"></li>
            <li><img src="{{ url_for('static', filename='images/source_2.png') }}" style="margin: 0 auto;"></li>
            <li><img src="{{ url_for('static', filename='images/source_3.png') }}" style="margin: 0 auto;"></li>
        </ul> -->
       
        <script src="/static/js/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
        <script>
            $(document).ready(function(){
                $('.bxslider').bxSlider({
                    auto: true,
                    speed: 500,
                    pause: 4000,
                    mode: 'fade',
                    autoControls: false,
                    pager: true
                });
            });
        </script>
    {% endblock %}
</html>